body {
  margin:0px;
}
input {
  background-color:rgba(0,0,0,.35);
  color:white;
  font-weight:bolder;
  text-align:center;
  margin: 1 1 auto;
  border:0px;
  border-radius:6px;
  padding:0px;
}
h1, label, input {
  font-family:Rubik Doodle Shadow, cursive;
  word-spacing:.5ch;
  font-weight:bolder;
}
#bg-img {
  position:fixed;
  top:0px; 
  bottom:0px;
  z-index:-1000000000000000000000000000000000000000000000000000000;
  height:100vh;
  width:100vw;
  color:#f00;
  opacity:.8;
  margin:0px;
  padding:0px;
}
#content {
  margin:25px;
  background-color:rgba(0,0,0,.7);
  color:white;
  padding-right:10px;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:15px;
  text-align:center;
  justify-content:center;
  font-family:Rubik Scribble, cursive;
  font-weight:bold;
  line-height:1.6;
  color:#F9F9F9;
  word-spacing: 1ch;
}
#content p {
  text-align:left;
  text-indent:30px;
}
