body {
  font-family:Rubik Marker Hatch,cursive; 
  background-color:black;
  text-align:left;
  max-width:30cm;
  /*background-image: url( https://upload.wikimedia.org/wikipedia/commons/3/37/Kanchenjunga_India.jpg);*/
  /*Diffrent ways to color*/
  /*background-color: #f6f;*/
  /*background-color: rgb(255,102,255);*/
  /*background-color: rgb(100%, 40%, 100%)*/
  /*background-color: hsl(300deg, 70%, 60%)*/
}
.border{
  marigin:0px;
  background-color:rgba(0,0,0,.6);
  border-radius:.3cm;
  border-color:rgba(255,255,255,.4);
  border:2px solid white;
}
#nav-bar {
  display:flex;
  flex:1 1 auto;
  justify-content:space-evenly;
  position:sticky;
  top:0px;
  background-color:rgba(0,0,255,.9);
  color:white;
}
div.nav-div{
  text-align:center;
  flex-grow:1;
  position:relative;
  top:0px;
  border-right:solid 3px white
}
div.nav-div a{
  display:inline-block;
  width:100%;
  padding:10px 0px 10px;
}

ul.nav-list{
  display:none;
  list-style-type:none;
  padding-left:0px;
  position:absolute;
  background-color:rgba(100,100,225, 0.9);
  width:100%;
  margin:0px;
}

a {
  text-decoration:none;
  font-family:Rubik Marker Hatch,cursive;
}
.nav-div:hover {
  background-color:rgba(50,50,220, 0.9);
  flew-grow:1;
  font-weight:bolder;
}
.nav-div:hover .nav-list {
  display:block;
}
#nav-stories {
  border-right:none;
}
.nav-div .nav-list a:hover {
  background-color:rgba(0,0,100, 0.5);
  font-weight:bolder;
}
#nav-bar {
  display:flex;
  flex:1 1 auto;
  justify-content:space-evenly;
  position:sticky;
  top:0px;
  background-color:rgba(0,0,0,.75);
  color:white;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}
div.nav-div{
  text-align:center;
  flex-grow:1;
  position:relative;
  top:0px;
  border-right:solid 3px white;
}
div.nav-div a{
  display:inline-block;
  width:100%;
  padding:10px 0px 10px;
}

ul.nav-list{
  display:none;
  list-style-type:none;
  padding-left:0px;
  position:absolute;
  background-color:rgba(0,0,0,.75);
  width:100%;
  margin:0px;
}

.nav-div a {
  text-decoration:none;
  font-family:Rubik Marker Hatch,cursive; 
}
.nav-div:hover {
  background-color:rgba(0,0,0, 0.9);
  flew-grow:1;
  font-weight:bolder;
}
.nav-div:hover .nav-list {
  display:block;
}
#nav-stories {
  border-right:none;
}
.nav-div .nav-list a:hover {
  background-color:rgba(0,0,0, 0.75);
  font-weight:bolder;
}
