body{
  marigin:auto;
  background-color:rgba(0,0,0,.6);
  font-family:Rubik Marker Hatch,cursive; 
}
#margin {
  margin: auto;
}
#bg-image {
  position:fixed;
  top:0px;
  bottom:0px;
  z-index:-1000000000000000000000000000000000000000000000000000000;
  height:100vh;
  width:100vw;
  opacity:.7;
  color:#f00;
}
p {color:hsl(195, 53%, 79%);}
    
a:hover {color:#fdfd96; text-shadow:1px 2px hsl(120, 73%, 75%);}
    
a,li {color:hsl(120, 73%, 75%);}
    
ul li {font-style:italic;}

.int-link {font-weight:bolder; }
    
#LCSMT {
  Font-size:.9cm; 
  color:hsl(263, 44%, 79%);
}
    
h1 {color:#c3b1e1 ;
   background-color:black;
    margin: 11px auto;
    padding:12px;
    border-radius:1cm;
  border:2px solid white;
 text-shadow:2px 4px white;
  width:50%
    background-image: url( https://upload.wikimedia.org/wikipedia/commons/3/37/Kanchenjunga_India.jpg)
  
  }
    
h2 {color:hsl(351, 100%, 86%)}
 
#LCSMT:hover {color:#fdfd96}
 /*beep boop*/
body {
  font-family:Rubik Marker Hatch,cursive; 
  background-color:black;
  text-align:left;
  /*background-image: url( https://upload.wikimedia.org/wikipedia/commons/3/37/Kanchenjunga_India.jpg);*/
  /*Diffrent ways to color*/
  /*background-color: #f6f;*/
  /*background-color: rgb(255,102,255);*/
  /*background-color: rgb(100%, 40%, 100%)*/
  /*background-color: hsl(300deg, 70%, 60%)*/
}
.border{
  marigin:0px;
  background-color:rgba(0,0,0,.6);
  border-radius:.3cm;
  border-color:rgba(255,255,255,.4);
  border:2px solid white;
}
#nav-bar {
  display:flex;
  flex:1 1 auto;
  justify-content:space-evenly;
  position:sticky;
  top:0px;
  background-color:rgba(0,0,255,.9);
  color:white;
}
div.nav-div{
  text-align:center;
  flex-grow:1;
  position:relative;
  top:0px;
  border-right:solid 3px white
}
div.nav-div a{
  display:inline-block;
  width:100%;
  padding:10px 0px 10px;
}

ul.nav-list{
  display:none;
  list-style-type:none;
  padding-left:0px;
  position:absolute;
  background-color:rgba(100,100,225, 0.9);
  width:100%;
  margin:0px;
}

a {
  text-decoration:none;
  font-family:Rubik Marker Hatch,cursive;
}
.nav-div:hover {
  background-color:rgba(50,50,220, 0.9);
  flew-grow:1;
  font-weight:bolder;
}
.nav-div:hover .nav-list {
  display:block;
}
#nav-stories {
  border-right:none;
}
.nav-div .nav-list a:hover {
  background-color:rgba(0,0,100, 0.5);
  font-weight:bolder;
}
#nav-bar {
  display:flex;
  flex:1 1 auto;
  justify-content:space-evenly;
  position:sticky;
  top:0px;
  background-color:rgba(0,0,0,.75);
  color:white;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}
div.nav-div{
  text-align:center;
  flex-grow:1;
  position:relative;
  top:0px;
  border-right:solid 3px white;
}
div.nav-div a{
  display:inline-block;
  width:100%;
  padding:10px 0px 10px;
}

ul.nav-list{
  display:none;
  list-style-type:none;
  padding-left:0px;
  position:absolute;
  background-color:rgba(0,0,0,.75);
  width:100%;
  margin:0px;
}

.nav-div a {
  text-decoration:none;
  font-family:Rubik Marker Hatch,cursive; 
}
.nav-div:hover {
  background-color:rgba(0,0,0, 0.9);
  flew-grow:1;
  font-weight:bolder;
}
.nav-div:hover .nav-list {
  display:block;
}
#nav-stories {
  border-right:none;
}
.nav-div .nav-list a:hover {
  background-color:rgba(0,0,0, 0.75);
  font-weight:bolder;
}
