p {color:lightblue;}
    
a:hover {color:#fdfd96;}
    
a,li {color:lightgreen;}
    
ul li {font-style:italic;}
    
.int-link {font-weight:bolder; }
    
#LCSMT {
  Font-size:.9cm; 
  color:#c3b1e1;
}
    
h1 {color:#c3b1e1}
    
h2 {color:lightpink}
 
#LCSMT:hover {color:#fdfd96}
 /*beep boop*/
body {
  font-family:Rubik Marker Hatch,cursive; 
  background-color:black;
  text-align:Left;
}
